/* head and body */

head, body{
  background-color: #eee;
  font-family: 'Cabin', sans-serif;
  margin-bottom: -1%;
}

/* all <p> elements */ 

p{
  font-size: 18px;
}

 /* header */ 

#header{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

#img-container{
  width: 15%;
}

#header-img{
  width: 100%;
}

.nav-link{
  color: #000000;
}

.nav-link:link{
  text-decoration: none;
}

/* form*/

#form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 50px;
}

#submit{
  width: 10%;
  background-color: #FF8C00;
  font-size: 1.2em;
  border: 0;
  border-radius: 2%;
  cursor: pointer;
  margin-top: 1%;
}



/* features */

#features{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  text-align: left;
}

/* features */

#materials, #value, #qualityAssurance{
  padding-top: 3%; 
}

#email{
  font-size: 1.1em;
}

#howItWorks{
  margin-top: 10%;
}

.videoContainer{
  position: relative;
  left: 13%;
  width: 60%;
  height: 0;
  padding-bottom: 60%;
  text-align: center;
}

.videoContainer #video{
  position: absolute;
  padding-top: 10%;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

/* pricing */

#pricing{
  display: flex;
  flex-direction: row; 
  text-align: center;
  justify-content: space-between; 
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  
}

#bachelorsAndMasters, #phd, #legal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border-style: solid;
  border-radius: 1%;
  text-align: center;
  align-items: center;
  border-width: thin;
}

#bachelorsAndMasters .level, #phd .level, #legal .level {  
  background-color: #D3D3D3;
  font-size: 1.4em;
  width: 100%;
}

#bachelorsAndMasters ul, #phd ul, #legal ul{
  width: 60%;
  list-style-type: none;
  margin-right: 10%;

}

#bachelorsAndMasters li, #phd li, #legal li{
  margin-top: 10%;
}

#bachelorsAndMasters .btn, #phd .btn, #legal .btn{
  font-size: 1.1em;
  margin-bottom: 10%;
  margin-top: 2%;
  background-color: orange;
  border: 0;
  padding: 2% 5%;
  cursor: pointer;
}

/* footer */

footer{
  padding-left: 20%;
  padding-right: 20%;
}

#footer {
  background-color: #ddd;
}

footer ul{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  list-style-type: none;
  padding-top: 0.8%;
  margin-bottom: 0.9%;
}

footer li{
  margin-left: 1.3%;
  margin-right: 1.3%;
}

footer li a:link{
  text-decoration: none;
  color: #000000;
}

footer span {
  padding-bottom: 1.4%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  margin-right: 1%;
}

/* Mobile responsive */ 
@media (max-width: 400px) and (max-height: 900px){

 /* header */ 
  #header{
    position: absolute;
    width: 95%;
  }

  #nav-bar{
    display: flex;
    justify-content: space-between;
    width: 70%;
   }

  
  /* form*/ 
  
  #form h2, .features-content p, .features-content h2{ 
   font-size: 1em;
  }

  #form{
    padding-top: 10%;
  }
  

  #submit{
    margin-top:5%;
    width: 40%;
    background-color: #FF8C00;
    font-size: 1.2em;
  }
  
  /* features */
  
  #features{
    padding-top: 20%;
    width: 100%;
  }
  
  /* Video */
  
.videoContainer{
  width: 100%;
}

.videoContainer #video{
  height: 100%;
  left:-12%;
}
  
  /* Pricing */
  
#pricing{
  width: 70%;
  padding-top: 15%;
  flex-direction: column;
}

#bachelorsAndMasters, #phd, #legal{
  width: 100%;
  margin-top: 10%;

}


#bachelorsAndMasters ul, #phd ul, #legal ul{
  width: 100%;
  list-style-type: none;
  margin-right: 18%;
  margin-top: -15%;
}

/* footer */
  
footer{
  padding-left: 0%;
  padding-right: 0%;
}

footer ul{
  font-size: 0.8em;
}

footer span {
  font-size: 0.8em;
}
  
}